.header
{
	text-align: center;
	background-color: #b22222;
	padding: 25px;
}

a
{
	text-decoration: none;
	color: black;
}

h1
{
	font-size: 4vw;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h3
{
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h2
{
	text-decoration: underline;
	font-size: 2.7vw;
}

p
{
	margin: 1.5em;
}

h4
{
	margin-top: 3em;
	text-align: center;
	font-size: 2.5vw;
}

.employer
{
	margin-top: 0.5em;
}

h5
{
	margin-bottom: 1em;
}

.dates
{
	margin-left: 30vw;
}

ul
{
	padding: 0
}

.main
{
	margin: 1em;
}

.links li
{
	display: inline;
	list-style-type: none;
	margin: 0 3vw 0 3vw;
}

em
{
	font-size: 2vw;
}

ul li ul
{
	margin: 0.5em 1em 1.25em 2em;
}