html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

.header
{
    z-index: 999;
}

.wrapper
{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(800px - (30px * 2));
    margin-top: 15px;
    margin-bottom: 15px;  
}

.main_content
{
    padding-bottom: 150px;
}

.full_page
{
    min-height: 100%;
    position: relative;
}

.header
{
    border-bottom: 1px solid #8b8b8b;
    position: relative;
    min-height: 60px;
}

.profile_pic
{ /*index*/
    width: 30%;
    border-radius: 20px;
    margin: 5%;
    float: right;
    border: 2px solid black;
    position: relative;
}

.project_img_right
{
    width: 30%;
    border-radius: 20px;
    margin-left: 5%;
    float: right;
    border: 2px solid black;
    position: relative;
}

.project_img_left
{
    width: 20%;
    border-radius: 20px;
    margin-right: 5%;
    float: left;
    border: 2px solid black;
    position: relative;
}

.video
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.click_picture
{
    text-align: center;
    font-size: 10px;
    color: dimgrey;
}

.title
{ /*header*/
    color: black;
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 30px;
}


.classes
{
    list-style: none;
}

.classes li ul
{
    margin: 10px;
}


.info
{
    margin-left: 10px;
    font-size: 
}

h4
{
    font-size: 20px;
}

nav
{ /*header, footer */
    float: right;    
}

nav .main_nav li
{ /*header, footer */
    float: left;
    position: relative;
    list-style: none;
}

nav .main_nav li a
{
    display: block;
    padding: 22px 20px 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

nav .main_nav li ul
{
    display: none;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 5px;
}

nav .main_nav li:hover ul
{
    display: block;
}

nav .main_nav li ul li
{
   width: 180px;
    border-radius: 4px;
}


nav .main_nav li ul li a
{
    padding: 8px 14px;
}

nav .main_nav li ul li a:hover
{
    padding: 8px 14px;
    background-color: lightgray;
}

.description
{
    font-size: 14px;
}

.projects li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer
{
    height: 125px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    border-top: 1px solid #8b8b8b;
    background-color: dimgrey;
}

.footer_heading
{
    margin: 5px 0px 15px;
}

.footer_links
{ /*footer */
    float: left;    
}

.footer_links .footer_nav li
{ /*footer */
    float: left;
    list-style: none;
}

.footer_links .footer_nav li a
{
    display: block;
    padding: 22px 20px 5px;
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.footer_nav
{
    margin-top: 0px;
    padding: 0px;
}

.project_header
{
    font-size: 40px;
    font-family: "Impact";
    text-align: center;
}

h2
{
    font-size: 25px;
    font-family: "Impact";
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
}

p
{
    font-size: 18px;
}

.gallery
{
    margin: 10px auto;
}

.gallery img
{
    width: 230px;
    padding: 5px;
    height: 120px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover
{
    filter: grayscale(0);
    transform: scale(1.1);
}