.wrapper
{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(800px - (30px * 2));
    margin-top: 15px;
    margin-bottom: 15px;   
}

.header
{
    border-bottom: 1px solid #8b8b8b;
    position: relative;
    min-height: 60px;
}

.profile_pic
{ /*index*/
    width: 30%;
    border-radius: 20px;
    margin: 5%;
    float: right;
    border: 2px solid black;
    position: relative;
}

.project_img_right
{
    width: 30%;
    border-radius: 20px;
    margin-left: 5%;
    float: right;
    border: 2px solid black;
    position: relative;
}

.project_img_left
{
    width: 20%;
    border-radius: 20px;
    margin-right: 5%;
    float: left;
    border: 2px solid black;
    position: relative;
}

.video
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.click_picture
{
    text-align: center;
    font-size: 10px;
    color: dimgrey;
}

.title
{ /*header*/
    color: black;
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 30px;
}


.classes
{
    list-style: none;
}

.classes li ul
{
    margin: 10px;
}


.info
{
    margin-left: 10px;
    font-size: 
}

h4
{
    font-size: 20px;
}

.main_nav
{ /*header, footer */
    float: right;
    list-style: none;
    
}

.main_nav li
{ /*header, footer */
    display: inline-block;
}

.main_nav li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}

.project
{
    list-style: none;
}

.main_nav li.active a
{
    border: 1px solid black;
}

.main_nav li a:hover
{
    border: 1px solid black;
}

.footer
{
    height: 125px;
    width: 100%;
    position: absolute;
    padding-left: 50px;
    border-top: 1px solid #8b8b8b;
    background-color: dimgrey;
}

.footer_heading
{
    margin-bottom: 15px;
}

.footer_links .main_nav
{
    float: left;
    list-style: none;
    padding: 0px;
}

.links
{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.project_header
{
    font-size: 40px;
    font-family: "Impact";
    text-align: center;
}

h2
{
    font-size: 25px;
    font-family: "Impact";
    text-align: center;
    margin-bottom: 5px;
    margin-top: 30px;
}

p
{
    font-size: 18px;
}